body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color:#FFF8C4;  
}

nav {
     display: flex;
     justify-content: center;
     gap: 200px;

}

.nav-btn {
     position: relative;
     border: none;
     margin-top: 200px;
     border-radius: 300px;
     padding: 10px 20px;
     font-weight: bold;
     color: white;
     cursor: pointer;
     font-size: 45px;
}



.home {
    background-color: #F2B6D7;
    text-decoration: none;
}

.inspo {
    background-color: #6DCCF2;
    text-decoration: none;
}

.inspo:hover {
    background-color: #5bb9e0; 
    cursor: pointer;
}

.favs {
    background-color: #ADD96C;
    text-decoration: none;
}

.favs:hover {
    background-color: #9cc95a; 
    cursor: pointer;
}

.portfolio {
    background-color: #FDCF81;
    text-decoration: none;
}

.portfolio:hover {
    background-color: #f8c167; 
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

 header {
      height: 200px;
      background-color: #F2B6D7;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

.my-name {
  position: absolute;
  top: -47px; 
  left: 50%;
  transform: translateX(-50%);
  width: 700px; 
  z-index: 2;
}


.catbox {
  position: relative;
  left: 350px;
  top: 100px;

}

.drawing {
  width: 550px;
  height: auto;
  position: relative;
  top: -670px; 
  z-index: 20; 
  margin-left: 50px;  
}

.text {
  position: absolute;
  top: 390px;      
  left: 660px;     
  color: #d474a9;    
  font-size: 30px;
  font-weight: bold;
}

.text {
  width: 90%;               
  max-width: 800px;
  padding: 20px;
  word-wrap: break-word;    
  white-space: normal;      
  overflow-wrap: break-word;
}

.text p {
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
}


.turtle-gif {
  position: absolute;
  top: 0;
  left: 40px;
  width: 230px;  /* smaller size */
  height: auto;
}



footer {
  background-color: #F2B6D7;
  min-height: 50px;
  padding: 20px;
  text-align: center;
}

