body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #FFF8C4;  
}

.nav-btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 300px;
  font-weight: bold;
  font-size: 45px;
  color: white;
  display: inline-block;
  margin-top: 200px;

}

nav {
   display: flex;
   justify-content: center;
   gap: 200px;

}

.home { background-color: #FFB6D9; }

.home:hover {
    background-color: #e69dc5; 
    cursor: pointer;
}

.inspo { background-color: #66CCFF; }

.inspo:hover {
    background-color: #5bb9e0; 
    cursor: pointer;
}

.favs { background-color: #B6E87C; }

.portfolio { background-color: #FFC469; }

.portfolio:hover {
    background-color: #f8c167; 
    cursor: pointer;
}


.active {
  text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header {
      height: 200px;
      background-color: #B6E87C;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

.my-name {
  position: absolute;
  top: -47px; 
  left: 50%;
  transform: translateX(-50%);
  width: 700px; 
  z-index: 2;
}



.vertical-rect:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.vertical-rect {
  width: 250px;        
  height: 375px;       
  object-fit: cover;  
  border-radius: 8px;  
}

.anime-row {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

.anime {
  text-align: center;
}


.floating-img {
  position: absolute;
  top: 530px;  /* up and down */
  left: -30px;  
  z-index: 10;
}

.floating-img img {
  width: 280px;
  height: auto;
}



.windchime {
    position: absolute;
    top: 380px;       
    right: -100px;     
    width: 450px;    
    z-index: 10;     
}

.custom-top-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 0; 
}

.top-left-image {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
}

footer {
  background-color: #c5f582;
  min-height: 70px;
  padding: 20px;
  text-align: center;
}
